body {
    background: url('../images/lander.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.titan {
    font-family: 'Titan One', cursive;
}

.rale {
    font-family: 'Raleway', sans-serif;
}

.white {
    color: white;
}

.login {
    margin: 5%
}