body {
    background: url('../images/lander.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.titan {
    font-family: 'Titan One', cursive;
    color: white;
}

.title {
    color: white;
}

.login {
    margin: 5%
}